* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: $line_height;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: $font_color;
}

button {
    * {
        line-height: 1em;
    }
}

.wrapper {
    max-width: 1024px;
    width: 100%;
    margin: $spacing auto;
}

a {
    text-decoration: none;
    color: $font_color;
    &:hover {
        text-decoration: underline;
    }
}

ul {
    @include list_reset;
}

[class^="col-"] {
    width: 100%;
}

.icon-container {
    width: 18px;
    margin-right: 5px;
    @include flex_align_center;
}

section {
    padding: $spacing 0;
    display: $disp_flex;
}

img {
    object-fit: contain;
    width: 100%;
}

h1 {
    font-size: 2rem;
}

.logo-container {
    @include flex_align_center;
    img {
        max-width: 125px;
        margin-right: $spacing / 2;
    }
}