//Main common rules

section a {
    color: $btn_blue_color;
}

.button-container {
    @include flex_align_center;
    span {
        margin: 5px;
    }

    button {
        color: white;
        background-color: $btn_blue_color;
        padding: 0 5px;
    }
}

.colored-bg {
    background-color: $section_background_color;
}

//SECTION: .FIRST
.first {
    h1, h4, .button-container {
        margin: 10px 0;
    }
}

//SECTION .SECOND & .THIRD

.second {
    border-bottom: 1px solid $font_color;
    h3 {
        margin-bottom: $spacing;
    }
}

.third {
    & > h3 {
        margin: $spacing 0;
    }
}

.second, .third {
    padding: ($spacing*2) 0;
    text-align: center;
    @include flex-dir_col;

    .img-container {
        img {
            max-height: 100px;
        }
    }

    .bottom {
        img {
            max-height: $secondary_img;
        }
    }
}

//.SECTION .FOURTH
.fourth {
    @include flex-dir_col;
    &>div {
        display: $disp_flex;
    }

    [class^="col-"] * {
        margin-bottom: $spacing;
    }

    .col-4 {
        img{
            margin-top: $spacing;
            max-height: $secondary_img;
        }
    }
}

.fifth {
    @include flex-dir_col;
    @include flex_align_center;
    h1, .col-8 > p {
        margin: ($spacing / 2) 0;
    }

    span {
        vertical-align: middle;
    }

    img{
        @include bigger_logo
    }

    .col-8{
        background-color: white;
        border: 1px solid $btn_blue_color;
        border-radius: 10px;
        padding: $spacing/2 $spacing;
        img {
            margin-right: 5px;
        }
        div {
            @include flex_align_center;
            *{
                line-height: 1em;
            }
        }
    }

    .button-container {
        margin: $spacing 0;
    }
}



