$brown_color: #58402c;

$font_size: 1em;

$btn_blue_color: #2e4790;

$salmon_background_color: #ffe7d2;

$spacing: 30px;

$line_height: 1.5em;

$transition_duration: .3s;

$disp_flex: flex;

$secondary_img: 300px;

