$font_color: #7f14d4;

$font_size: 1em;

$btn_blue_color: #2e4790;

$section_background_color: #0414b3;

$spacing: 30px;

$line_height: 1.5em;

$transition_duration: .3s;

$disp_flex: flex;

$secondary_img: 300px;

